### Grouping subcategories of clothes into 5 categories : T-shirt, outer, pants, skits, dress

In [3]:
import pandas as pd

In [45]:
clothes = pd.read_excel(r"C:\Users\NT550009\Desktop\MUSINSA\data\ProductNum.xlsx")
clothes = clothes.rename(columns={"Category":"Subcategory"})
clothes["Category"] = ""
print(clothes.head())

# Category 
def set_category(row):
    if row['Subcategory'] in ["반소매 티셔츠","셔츠/블라우스","피케/카라 티셔츠",
                          "니트/스웨터","맨투맨/스웨트셔츠","긴소매 티셔츠","후드 티셔츠"]:
        return 'T-shirt'
    elif row['Subcategory'] in ["나일론/코치 재킷","트레이닝 재킷","트러커 재킷","아노락 재킷","사파리/헌팅 재킷","스타디움 재킷","블루종/MA-1","슈트/블레이저 재킷","카디건","레더/라이더스 재킷","후드 집업","숏패딩/숏헤비 아우터","환절기 코트","플리스/뽀글이","롱패딩/롱헤비 아우터","베스트","겨울 싱글 코트","겨울 기타 코트","겨울 더블 코트","무스탕/퍼",
"패딩 베스트"]:
        return 'outer'
    elif row['Subcategory'] in ["트레이닝/조거 팬츠","코튼 팬츠","슈트 팬츠/슬랙스","데님 팬츠","숏 팬츠","스포츠 하의"]:
        return 'pants'
    elif row['Subcategory'] in ["미니스커트","미디스커트","롱스커트"]:
        return 'skirts'
    elif row['Subcategory'] in ["맥시원피스","미디원피스","미니원피스"]:
        return 'dress'
    
# use apply function to set Category 
clothes['Category'] = clothes.apply(set_category, axis=1)

  Subcategory  Item_code Category
0     반소매 티셔츠     996177
1     반소매 티셔츠    1382658
2     반소매 티셔츠     996178
3     반소매 티셔츠    1848166
4     반소매 티셔츠    2086653

In [48]:
# check null in "Category" column 
has_null = clothes['Category'].isnull().any()

# print result
if has_null:
    print("Null values exist in the 'Category' column.")
else:
    print("No null values found in the 'Category' column.")

No null values found in the 'Category' column.

In [50]:
# 컬럼 순서 변경 reindex
clothes = clothes.reindex(columns=['Category', 'Subcategory', 'Item_code'])
clothes["Category"].unique()

array(['T-shirt', 'outer', 'pants', 'skirts', 'dress'], dtype=object)

In [51]:
clothes
clothes.to_csv(r"C:\Users\NT550009\Desktop\MUSINSA\data\category.csv")

      Category Subcategory  Item_code
0      T-shirt     반소매 티셔츠     996177
1      T-shirt     반소매 티셔츠    1382658
2      T-shirt     반소매 티셔츠     996178
3      T-shirt     반소매 티셔츠    1848166
4      T-shirt     반소매 티셔츠    2086653
...        ...         ...        ...
17995    dress       미니원피스    1167612
17996    dress       미니원피스    1154830
17997    dress       미니원피스    1135804
17998    dress       미니원피스     865557
17999    dress       미니원피스     797165

[18000 rows x 3 columns]